PGHOST=192.168.1.245
PGPORT=5432
PGUSER=postgres
PGPASSWORD=troque_esta_senha
PGDATABASE=inss_clientes

APP_ENV=production
APP_HOST=0.0.0.0
APP_PORT=8000
APP_SESSION_SECRET=troque_por_um_segredo_longo_com_mais_de_32_caracteres
APP_DEFAULT_ADMIN_USERNAME=admin
APP_DEFAULT_ADMIN_PASSWORD=troque_por_uma_senha_forte_com_mais_de_12_caracteres

C6_WORKER_ENABLED=false
C6_BASE_URL=https://marketplace-proposal-service-api-p.c6bank.info
C6_USERNAME=
C6_PASSWORD=
C6_TIMEOUT_SECONDS=20
