PGHOST=192.168.1.245
PGPORT=5432
PGUSER=postgres
PGPASSWORD=troque_esta_senha
PGDATABASE=inss_clientes

APP_HOST=0.0.0.0
APP_PORT=8000
APP_ENABLE_CEP_ENRICHMENT=0
APP_VIACEP_TIMEOUT_SECONDS=3
APP_ENABLE_DDD_ENRICHMENT=0
APP_BRASILAPI_TIMEOUT_SECONDS=3
APP_ENABLE_STARTUP_SCHEMA_MAINTENANCE=1
APP_ENABLE_STARTUP_ADDRESS_BACKFILL=1
APP_STARTUP_ADDRESS_BACKFILL_BATCH_SIZE=250

C6_WORKER_ENABLED=false
C6_BASE_URL=https://marketplace-proposal-service-api-p.c6bank.info
C6_USERNAME=
C6_PASSWORD=
C6_TIMEOUT_SECONDS=20
